@model Hotels.ViewModels.ReservationFormViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new reservation</h2>

@using (Html.BeginForm("Save", "Reservation"))
{
    <div id="startDateID" class="form-group">
        @Html.LabelFor(m => m.StartDate)
        @Html.TextBoxFor(m => m.StartDate, "{0:dd-MM-yyyy}", new { @class = "form-control" })
    </div>
    <div id="endDateID" class="form-group">
        @Html.LabelFor(m => m.EndDate)
        @Html.TextBoxFor(m => m.EndDate, "{0:dd-MM-yyyy}", new { @class = "form-control" })
    </div>
    @*<div>
        <button id="checkDates" type="button" class="btn btn-primary">Check room availability</button>
    </div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.GuestId)
        @Html.DropDownListFor(m => m.GuestId, new SelectList(Model.Guests, "Id", "FirstName"), "Select guest", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GuestId)
    </div>
    @*<div class="form-group">
        @Html.LabelFor(m => m.RoomId)
        @Html.DropDownListFor(m => m.RoomId, new SelectList(Model.Rooms, "Id", "Name"), "Select room", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RoomId)
    </div>*@
    @*<div class="form-group">
        @Html.LabelFor(m => m.Discount)
        @Html.TextBoxFor(m => m.Discount, new { @class = "form-control" })
    </div>*@
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
